.login-container {
  background-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color)
  );
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 20%;
  justify-content: center;
  align-items: flex-start;
}
